/__pycache__
/.pytest_cache
/myenv
/Pytest/__pycache__
/Utils/__pycache__
/Schema/__pycache__
/venv
/config
/Database/__pycache__
/Operations/__pycache__
/Operations/__init__.py
/Generate_Data/__pycache__
/Generate_Data/contacts.json
/Generate_Data/work_contacts.csv
/Generate_Data/family_contacts.csv
/Generate_Data/friends_contacts.csv